/*
 Landing Page
**************/


/* Navigation Box */
.nav-box {
	max-width: 100px;
	max-height: 100px;
	text-align: center;
}

.nav-box .fa
{
    width: 65px;	
    font-size: 80px;
    height: 80px;    
}

.nav-box .fa-smile-o 
{
	color:#EB1A1D;
}
.nav-box .fa-flag-checkered
{
	color:#EFF70A;
}
.nav-box .fa-code
{
	color:#F76D0A;
}
.nav-box .fa-puzzle-piece
{
	color:#D40AF7;
}
.nav-box .fa-wordpress
{
	color:#F70A59;
}
.nav-box .fa-gift
{
	color:#1EFA72;
}
.nav-text
{
	color:#9CEB1E;
}




