/* Uncomment to remove guide */
[class*="col-"] {
    border:none !important;
    background:none !important;
}




/*
 Landing Page
**************/

/* Common */
body {
	background: #0F0E0E !important;
}

.all-box-min {
	min-width:320px;
}

/* Navigation Box */
.nav-box {
	max-width: 100px;
	max-height: 100px;
	text-align: center;
}

.nav-box .fa
{
    width: 65px;	
    font-size: 80px;
    height: 80px;    
}

.nav-box .fa-smile-o 
{
	color:#0AF7B0;
}
.nav-box .fa-flag-checkered
{
	color:#EFF70A;
}
.nav-box .fa-code
{
	color:#F76D0A;
}
.nav-box .fa-puzzle-piece
{
	color:#D40AF7;
}
.nav-box .fa-wordpress
{
	color:#F70A59;
}
.nav-text
{
	color:#9CEB1E;
}




/* Header Box */

.header-box {
	margin-top: 20px;
	margin-bottom: 40px;
	padding:10px 10px;
}
.header-text {
	display: inline-block;
	padding: 5px 10px;
	font-size:20px;
	width: 200px;
}


/* Footer Box */
.footer-box {
	margin-top: 20px;
	padding:10px 10px;
}

.footer-icon {
	display: inline-block;

	text-align: right;
}
.footer-text {
	display: inline-block;
	padding: 5px 10px;
	padding-left: 0px;
	font-size:13px;
	text-align: left;
}

