/* Uncomment to remove guide */
[class*="col-"] {
    border:none !important;
    background:none !important;
}




/*
 Landing Page
**************/
.box-max {
	max-width: 100px;
	max-height: 100px;
}

.glyphicon {
    font-size: 70px;
    width: 80px;
    height: 80px;
}

.glyphicon.glyphicon-user 
{
	color:#0AF7B0;
}
.glyphicon.glyphicon-hdd
{
	color:#EFF70A;
}
.glyphicon.glyphicon-gift
{
	color:#F76D0A;
}
.glyphicon.glyphicon-fire
{
	color:#D40AF7;
}
.glyphicon.glyphicon-leaf
{
	color:#F70A59;
}
.nav-text
{
	color:#9CEB1E;
}




.all-box-min {
	min-width:320px;
}

.header-box {
	margin-top: 20px;
	margin-bottom: 40px;
	padding:10px 10px;
}
.header-text {
	display: inline-block;
	padding: 5px 10px;
	font-size:20px;
	width: 200px;
}

.footer-box {
	margin-top: 20px;
	padding:10px 10px;
}

.footer-icon {
	display: inline-block;
	font-size:15px;
	text-align: right;
}
.footer-text {
	display: inline-block;
	padding: 5px 10px;
	padding-left: 0px;
	font-size:13px;
	text-align: left;
}

body {
	background: #0F0E0E !important;
}